.row > * {
    width: 50vw;
}

.row {
    justify-content: center;
    padding: 15px 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eae5e37c;
    font-family: Roboto, Arial, sans-serif;
}

#app {
    position: relative;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    left: 200px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 1;
    padding: 10px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.4);
    overflow-y: auto;
}

